@import "tailwindcss";

@theme {
  --font-sans: var(--font-satoshi), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-voyage: var(--font-voyage), serif;
  --spacing-container: 1.5rem; 
}

body {
  font-family: var(--font-satoshi), sans-serif;
}

/* Responsive Overrides for the theme variable */
@layer base {
  :root {
    @media (width >= theme(--breakpoint-md)) {
      --spacing-container: 3rem;   /* Tablet */
    }
    
    @media (width >= theme(--breakpoint-lg)) {
      --spacing-container: 1rem;   /* PC Desktop */
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: var(--spacing-container);
  width: 100%;
  max-width: 1400px; /* Optional: adds a reasonable max-width for very large screens */
}
